main role="main"
  section.section role="region"
    .container
      .row
        article.col.col--2.col--start role="article"
          h1 Jak citovat
          p.lead Pro citování slovníku Dictio doporučujeme slouží citační nástroj, který naleznete pod výsuvnou záložkou v právé části stránky. 
            img src="/public/img/citace.png" title="Citační nástroj" alt="Citační nástroj"
          p Citovat je možné libovolnou stránku jako celek, ale i některé samostatné části hesel (například konkrétní videa, definice významů, či příkladové věty).
          p V případě, že budete chtít citovat slovník Dictio bez použití citačního nástroje, doporučujeme pro citaci slovníku jako celku následující formát: 

          div.info class="is_pushed" Dictio: Vícejazyčný slovník znakových jazyků [online]. Verze 7.1. Brno: Masarykova univerzita, 2007- . Cit. 7. 10. 2026. Dostupné z URL: https://www.dictio.info/.
          