main role="main"
  section.section role="region"
    .container
      .row
        article.col.col--start role="article"
          h1 Kontakt
          h2 Slovník vznikol v rámci spolupráce nasledujúcich pracovísk:
          ul
            li <a href='http://teiresias.muni.cz'>Teiresias – Stredisko pre pomoc študentom so špecifickými nárokmi</a> <a href='http://muni.cz'>Masarykovej univerzity</a>
            li <a href='http://uss.upol.cz'>Ústav špeciálnopedagogických štúdií </a> <a href='http://www.upol.cz/fakulty/pdf'>Pedagogickej fakulty </a> <a href='http://upol.cz'>Univerzity Palackého v Olomouci</a>
            li <a href='http://kky.zcu.cz'>Katedra kybernetiky</a> <a href='http://fav.zcu.cz'>Fakulty aplikovaných vied</a> <a href='http://zcu.cz'>Západočeskej univerzity v Plzni</a>
            li <a href='http://ujc.cas.cz'>Ústav pre jazyk český Akadémie vied ČR</a>
            li <a href='http://nlp.fi.muni.cz'>Centrum spracovania prirodzeného jazyka</a> <a href='http://fi.muni.cz'>Fakulty informatiky</a> <a href='http://muni.cz'>Masarykovej univerzity</a>

          h2 Aktuálna podoba slovníkov je výsledkom nasledujúcich projektov:
          ul
            li Universal learning design – inovácie interpretačných a komunikačných služieb (ComIn), CZ.1.07/2.2.00/07.0133
            li Potlačenie jazykovej bariéry sluchovo postihnutých študentov prostredníctvom automatického spracovania jazyka (POJABR), CZ.1.07/2.2.00/07.0189
            li Sieť expertných pracovísk na zabezpečenie inklúzie v terciárnom vzdelávaní (ExpIn), CZ.1.07 / 2.2.00 / 29.0010

          h2 Otázky, pripomienky a podnety
          p Akékoľvek otázky k slovníku, jeho funkčnosti alebo prípadný výskyt technických problémov, smerujte na: <a href="mailto:dictio@teiresias.muni.cz">dictio@teiresias.muni.cz</a>

