main role="main"
  section.section role="region"
    .container
      .row
        article.col.col--start role="article"
          h1 Kontakt
          h2 Slovník vznikl ve spolupráci následujících pracovišť:
          ul
            li <a href='http://teiresias.muni.cz'>Teiresiás – Středisko pro pomoc studentům se specifickými nároky</a> <a href='http://muni.cz'>Masarykovy univerzity</a>
            li <a href='http://uss.upol.cz'>Ústav speciálněpedagogických studií</a> <a href='http://www.upol.cz/fakulty/pdf'>Pedagogické fakulty</a> <a href='http://upol.cz'>Univerzity Palackého v Olomouci</a>
            li <a href='http://kky.zcu.cz'>Katedra kybernetiky</a> <a href='http://fav.zcu.cz'>Fakulty aplikovaných věd</a> <a href='http://zcu.cz'>Západočeské univerzity v Plzni</a>
            li <a href='http://ujc.cas.cz'>Ústav pro jazyk český Akademie věd ČR</a>
            li <a href='http://nlp.fi.muni.cz'>Centrum zpracování přirozeného jazyka</a> <a href='http://fi.muni.cz'>Fakulty informatiky</a> <a href='http://muni.cz'>Masarykovy univerzity</a>

          h2 Aktuální podoba slovníků je výsledkem následujících projektů:
          ul
            li Masarykova univerzita 4.0 (MUNI 4.0)
            li UniAll - Accessibility of Higher Education for Students with Special Needs
            li Universal learning design - inovace interpretačních a komunikačních služeb (ComIn), CZ.1.07/2.2.00/07.0133
            li Potlačení jazykové bariéry sluchově postižených studentů prostřednictvím automatického zpracování jazyka (POJABR), CZ.1.07/2.2.00/07.0189
            li Síť expertních pracovišť k zajištění inkluze v terciárním vzdělávání (ExpIn), CZ.1.07/2.2.00/29.0010

          h2 Dotazy, připomínky
          p Jakékoliv dotazy ke slovníku, jeho funkčnosti, případě technické problémy směřujte prosím na: <a href="mailto:dictio@teiresias.muni.cz">dictio@teiresias.muni.cz</a>
