video.video-link {
  cursor: pointer;
}

.js-key-selected {
  border: solid 1px #03c9a9 !important;
}

.keyboard-images img {
  height: 40px;
  border: 1px solid white;
}

.keyboard-images {
  border: 0 solid rgba(0,0,0,0);
  border-radius: 20px;
  background: #fff;
  padding: 9px 45px 9px 10px;
}

.keyboard-images img:hover {
  opacity: 0.3; 
  border: 1px solid red;
}

.video-orient {
  position: absolute; 
  color: #03c9a9; 
  margin-left: 5px; 
  margin-top: 5px; 
  font-weight: bold;
}

.detail__badge__czj, .trans__badge__czj, .trans__badge__czj a {
  background-color: #19B5FE;
  color: black;
}

video.czj {
  border-left: solid 4px #19B5FE;
}

.detail__badge__cs, .trans__badge__cs, .trans__badge__cs a {
  background-color: darkmagenta;
  color: whitesmoke;
}

.detail__badge__is, .trans__badge__is, .trans__badge__is a {
  background-color: darkslateblue;
  color: whitesmoke;
}
video.is {
  border-left: solid 4px darkslateblue;
}

.detail__badge__asl, .trans__badge__asl, .trans__badge__asl a {
  background-color: darkorange;
  color: black;
}
video.asl {
  border-left: solid 4px darkorange;
}

.detail__badge__en, .trans__badge__en, .trans__badge__en a {
  background-color: black;
  color: whitesmoke;
}
.detail__badge__spj, .trans__badge__spj, .trans__badge__spj a {
  background-color: mediumseagreen;
  color: black;
}
video.spj {
  border-left: solid 4px mediumseagreen;
}

.detail__badge__sj, .trans__badge__sj, .trans__badge__sj a {
  background-color: crimson;
  color:black;
}

.detail__badge__ogs, .trans__badge__ogs, .trans__badge__ogs a {
  background-color: darkred;
  color: whitesmoke;
}
video.ogs {
  border-left: solid 4px darkred;
}

.detail__badge__de, .trans__badge__de, .trans__badge__de a {
  background-color: darkgoldenrod;
  color: black;
}

.trans__badge {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 90%;
}
