video.video-link {
  cursor: pointer;
}

.js-key-selected {
  border: solid 1px #03c9a9 !important;
}

.keyboard-images img {
  height: 40px;
  border: 1px solid white;
}

.keyboard-images {
  border: 0 solid rgba(0,0,0,0);
  border-radius: 20px;
  background: #fff;
  padding: 9px 45px 9px 10px;
}

.keyboard-images img:hover {
  opacity: 0.3; 
  border: 1px solid red;
}

.video-orient {
  position: absolute; 
  color: #03c9a9; 
  margin-left: 5px; 
  margin-top: 5px; 
  font-weight: bold;
}

.detail__badge__czj, .trans__badge__czj, .btn-czj, .trans__badge__czj a {
  background-color: #19B5FE !important;
  color: black;
}

video.czj {
  border-left: solid 4px #19B5FE;
}

.detail__badge__cs, .trans__badge__cs, .btn-cs, .trans__badge__cs a {
  background-color: darkmagenta !important;
  color: whitesmoke !important;
}

.detail__badge__is, .trans__badge__is, .btn-is, .trans__badge__is a {
  background-color: darkslateblue !important;
  color: whitesmoke !important;
}
video.is {
  border-left: solid 4px darkslateblue;
}

.detail__badge__asl, .trans__badge__asl, .btn-asl, .trans__badge__asl a {
  background-color: darkorange !important;
  color: black;
}
video.asl {
  border-left: solid 4px darkorange;
}

.detail__badge__en, .trans__badge__en, .btn-en, .trans__badge__en a {
  background-color: black !important;
  color: whitesmoke !important;
}
.detail__badge__spj, .trans__badge__spj, .btn-spj, .trans__badge__spj a {
  background-color: mediumseagreen !important;
  color: black;
}
video.spj {
  border-left: solid 4px mediumseagreen;
}

.detail__badge__sj, .trans__badge__sj, .btn-sj, .trans__badge__sj a {
  background-color: crimson !important;
  color:black;
  
}

.detail__badge__ogs, .trans__badge__ogs, .btn-ogs, .trans__badge__ogs a {
  background-color: darkred !important;
  color: whitesmoke !important;
}
video.ogs {
  border-left: solid 4px darkred;
}

.detail__badge__de, .trans__badge__de, .btn-de, .trans__badge__de a {
  background-color: darkgoldenrod !important;
  color: black;
}

.trans__badge {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 90%;
}

h2.error {color: gray}
img.error {align-self: center}

.report-ano {background-color: darkgreen !important; font-size: 0.7rem !important;}
.report-ano:hover {background-color: darkred !important; font-size: 0.7rem !important;}
.report-ne {background-color: darkred !important; font-size: 0.7rem !important;}
.report-ne:hover {background-color: darkgreen !important; font-size: 0.7rem !important;}
.report- {background-color: gray !important; font-size: 0.7rem !important;}
.report-:hover {background-color: darkgreen !important; font-size: 0.7rem !important;}

.revcolloc-headline {
  cursor: pointer;
}
.revcolloc-headline:after {
  content: '';
  position: absolute;
  width: 15px;
  height: 10px;
  background: url(../img/arrow-down.svg) no-repeat center;
  top: 30%;
  background-size: cover;
}
.revcolloc-headline.waiting:after {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0px;
  background: url(../img/loading.svg) no-repeat center;
  background-size: cover;
}
