:root {
  --zakladni-seda1: #e4ebee;  
  --neschvaleno: yellow; 
}
 
@media (prefers-color-scheme: dark) {
  :root {
     --zakladni-seda1: #262C2E;
     --neschvaleno: #290000;
  }
}
postcss([
  cssvariables({
    preserve: true,
  }),
])

video.video-link {
  cursor: pointer;
}

.js-key-selected {
  border: solid 1px #03c9a9 !important;
}

.keyboard-images img {
  height: 40px;
  border: 1px solid white;
}

.keyboard-images {
  border: 0 solid rgba(0,0,0,0);
  border-radius: 20px;
  background: #fff;
  padding: 9px 45px 9px 10px;
}

.keyboard-images img:hover {
  opacity: 0.3; 
  border: 1px solid red;
}

.video-orient {
  position: absolute; 
  color: #03c9a9; 
  margin-left: 5px; 
  margin-top: 5px; 
  font-weight: bold;
}

.detail__badge__czj, .trans__badge__czj, .btn-czj, .trans__badge__czj a {
  background-color: #19B5FE !important;
  color: black;
  border-radius: 7px;
}

video.czj {
  border-left: solid 4px #19B5FE;
}

.detail__badge__cs, .trans__badge__cs, .btn-cs, .trans__badge__cs a {
  background-color: darkmagenta !important;
  color: whitesmoke !important;
  border-radius: 7px;
}

.detail__badge__is, .trans__badge__is, .btn-is, .trans__badge__is a {
  background-color: darkslateblue !important;
  color: whitesmoke !important;
  border-radius: 7px;
}
video.is {
  border-left: solid 4px darkslateblue;
}

.detail__badge__asl, .trans__badge__asl, .btn-asl, .trans__badge__asl a {
  background-color: darkorange !important;
  color: black;
  border-radius: 7px;
}
video.asl {
  border-left: solid 4px darkorange;
}

.detail__badge__en, .trans__badge__en, .btn-en, .trans__badge__en a {
  background-color: black !important;
  color: whitesmoke !important;
  border-radius: 7px;
}
.detail__badge__spj, .trans__badge__spj, .btn-spj, .trans__badge__spj a {
  background-color: mediumseagreen !important;
  color: black;
  border-radius: 7px;
}
video.spj {
  border-left: solid 4px mediumseagreen;
}

.detail__badge__sj, .trans__badge__sj, .btn-sj, .trans__badge__sj a {
  background-color: crimson !important;
  color:black;
  border-radius: 7px;
}

.detail__badge__ogs, .trans__badge__ogs, .btn-ogs, .trans__badge__ogs a {
  background-color: darkred !important;
  color: whitesmoke !important;
  border-radius: 7px;
}
video.ogs {
  border-left: solid 4px darkred;
}

.detail__badge__de, .trans__badge__de, .btn-de, .trans__badge__de a {
  background-color: darkgoldenrod !important;
  color: black;
  border-radius: 7px;
}

.detail__badge__uzm, .trans__badge__uzm, .btn-uzm, .trans__badge__uzm a {
  background-color: lightblue !important;
  color: black;
  border-radius: 7px;
}
video.uzm {
  border-left: solid 4px lightblue;
}

.detail__badge__uk, .trans__badge__uk, .btn-uk, .trans__badge__uk a {
  background-color: yellow !important;
  color: black !important;
  border-radius: 7px;
}
.trans__badge {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 90%;
}

h2.error {color: gray}
img.error {align-self: center}

.report-ano {background-color: darkgreen !important; font-size: 0.7rem !important;}
.report-ano:hover {background-color: darkred !important; font-size: 0.7rem !important;}
.report-ne {background-color: darkred !important; font-size: 0.7rem !important;}
.report-ne:hover {background-color: darkgreen !important; font-size: 0.7rem !important;}
.report- {background-color: gray !important; font-size: 0.7rem !important;}
.report-:hover {background-color: darkgreen !important; font-size: 0.7rem !important;}
.report-table {display: block; background: var(--zakladni-seda1); border-radius: 20px; padding: 15px; margin-bottom: 5px;}

.revcolloc-headline, .revkompozitum-headline, .revderivat-headline {
  cursor: pointer;
}
.revcolloc-headline:after, .revkompozitum-headline:after, .revderivat-headline:after {
  content: '';
  position: absolute;
  width: 15px;
  height: 10px;
  background: url(../img/arrow-down.svg) no-repeat center;
  top: 30%;
  background-size: cover;
}
.revcolloc-headline.waiting:after, .revkompozitum-headline.waiting:after, .revderivat-headline.waiting:after {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0px;
  background: url(../img/loading.svg) no-repeat center;
  background-size: cover;
}
.load_next_trans.waiting {
  visibility: hidden;
}
.load_next_trans.waiting:after {
  visibility: visible;
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0px;
  left: 0px;
  background: url(../img/loading.svg) no-repeat center;
  background-size: cover;
}
.load_next_search.waiting {
  visibility: hidden;
}
.load_next_search.waiting:after {
  visibility: visible;
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0px;
  left: 0px;
  background: url(../img/loading.svg) no-repeat center;
  background-size: cover;
}

/* multiple label */
p.naming span:not(:last-child):after {
  content: ', ';
}

p.naming2 span {
  color: darkgrey;
  font-weight: 700;
}

.homonym-block {
  border-top: 2px solid #1c2641;
  border-bottom: 2px solid #1c2641;
}

.notapproved {
  color: red;
  font-style: italic;
  padding-left: 10px;
  display: inline-flex;
  background-color: var(--neschvaleno);
  border-radius: 15px;
  padding-right: 10px;
  padding: 5px;
  font-size: 10px;
}
  
.notpublic {
  position: absolute;
  top: 0px;
  margin-right: 180px;
  background-color: red;
  color: yellow;
  font-size: small;
  padding-left: 40px;
  height: 38px;
  padding-top: 5px;
}

.notpublic img {
  position: absolute;
  left: 0;
  top: 8px;
}
