.btn, a.btn {
    background-color: darkorange !important;
    color: white !important;
  }
  
.formaltop {
    border-left: 20px solid darkorange;
  }

.x-panel-header-default {
    color: darkorange;
}
  
