.btn, a.btn {
  background-color: rgb(25, 181, 254);
}

.formaltop {
  border-left: 20px solid rgb(25, 181, 254);
}

.x-panel-header-default {
  color: rgb(25, 181, 254);
}

.col-label {
  border-top: solid 5px rgb(25, 181, 254);
  border-bottom: solid 5px rgb(25, 181, 254);
  font-weight: bold;
}
