.btn, a.btn {
/* background-color: darkgoldenrod; */
  }
  
  .formaltop {
    border-left: 20px solid darkgoldenrod;
  }
  
  .x-panel-header-default {
    color: darkgoldenrod;
  }
  
  .col-label {
    border-top: solid 5px darkgoldenrod;
    border-bottom: solid 5px darkgoldenrod;
    font-weight: bold;
  }
  