/* zakladni styl */
:root {
  --zaklad-bg: white;
  --zaklad-bg2: #e4ebee;
  --bila: white;
  --bila2: white;
  --gram: darkgrey;
  --vyznamy: lightgray;
  --equiv: lightblue;
  --priklady-bg: rgb(214,122,80);
  --boxy-bg: aliceblue;
  --section-half: url(../img/section-half.png);  
  --popisky: darkolivegreen; 
  --zelena: yellowgreen;
}  

@media (prefers-color-scheme: dark) {
  :root {
    --zaklad-bg: black;
    --zaklad-bg2: #1e2a2f;
    --bila: #7b7b7b;
    --bila2: black;
    --gram: grey;
    --vyznamy: #4A4A4F;
    --equiv: #1b4958;
    --priklady-bg: rgb(214,122,80);
    --boxy-bg: rgb(21,32,33);
    --section-half: url(../img/section-half_black.png);   
    --popisky: silver;
    --zelena: greenyellow;
  }
}

label {
  font-size: 0.82rem;
  margin: 0;
  font-weight: 500;
}

/* úprava pro nový editor */
.x-form-item-label, 
.x-form-cb-label {
  font-size: 11px;
  color: var(--popisky);
  text-align: right;
}

/* docasna uprava pro prechod na novy vzhled */
#tabForm {
  border-top: solid 5px #1c2641;
}

.x-body {
  background: var(--zaklad-bg);
}

input,
textarea,
select {
  font-size: 0.9rem;
  font-weight: 200;
  border: 0px;
  border-bottom: solid 2px gray;
  border-radius: 0px;
}

.auth input {
  font-size: 10px;
  background-color: transparent;
  border-bottom: dotted 1px gray;
  color: gray;
} 

.priklad textarea {
  font-style: italic;
} 

.del:hover {
  background: red !important;
}

.del-usage {
  left: 709px !important;
}

.add:hover {
  background: lawngreen;
}

.transparent input, .transparent textarea {
  background: transparent;
}


/* docasna uprava pro prechod na novy vzhled */
.ssc_html, .ssc_html span {
  background-color: lightblue !important;
}

.vyznamNum input {
  font-size: 22px;
  font-weight: 800;
}

.celnibocni {
  border: solid 1px var(--bg);
  border-radius: 10px;
  float: left;
  margin-right: 5px; 
  margin-bottom: 5px;
  padding-right: 4px;
  background: var(--boxy-bg);
}

.techinfo-box {
  border: 1px solid var(--gram);
}

.sw-img {
  margin: 5px;
}

/* #videobox-outerCt {} */

.x-panel-body-default {
  background: var(--zaklad-bg);
}

a.btn {
  font-size: 14px;
}

.video-text {
  width: 565px;
  overflow: hidden;
}

.formaltop {
  background: var(--zaklad-bg2);
}

#gramdesc,
#styldesc {
  border: 1px solid var(--gram);  
  border-left: 20px solid var(--gram); 
  background: var(--boxy-bg); 
}

#vyznamy_box {
  background-color: var(--zaklad-bg2);
  border-left: 20px solid #03c9a9;
  /*#d1e8dc;  */
}

.video-label {
  text-align: right;
}

.vyznam-zahlavi {
  border-bottom: 1px solid #03c9a9;  
}

/* .vyznam-text {} */

#textfield-1111-inputEl { /* lemmawrite */
  font-size: 24px;
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
}

.lemma-box { /* novy editor */
  border: solid 1px var(--bila2);
}

.sw-box {
  border: solid 1px maroon;
  border-left: 20px solid maroon;
  margin-top: 10px;
  background: var(--boxy-bg);
}

.deklin-box {
  border: solid 1px lightblue;
  border-left: 20px solid lightblue;
  margin-top: 10px;
  background: var(--boxy-bg);
}

#swbox {
border-top: solid 1px maroon;
}
.sw-label {
  border-top: solid 5px maroon;
  border-bottom: solid 5px maroon;
  font-weight: bold;
}

/* .sw-change {} */

.stav-display-published div {
  color: var(--zelena); 
  text-align: right;
  font-weight: bold;
}

.stav-display-hidden div {
  color: red;
  text-align: right;
  font-weight: bold;
}

.ssc_html b {
  color: red
}

.ssc_html small {
  color: green
}

.ssc_html i {
  color: darkred
}

.ssc_html span {
  padding-left: 10px;
  padding-right: 10px;
}

.ssc_html .h {
  color: #FF0000;
  font-weight: bold;
}

.ssc_html .h1 {
  color: #FF0000;
  font-weight: bold;
}

.ssc_html .hh {
  color: #FF0000;
  font-weight: bold;
}

.ssc_html .hh1 {
  color: #FF0000;
  font-weight: bold;
}

.ssc_html .s {
  color: rgb(119, 0, 0);
  font-style: italic
}

.ssc_html .phr {
  color: #800080;
  font-style: italic;
}

.ssc_html .e {
  color: #000000;
}

.ssc_html .o {
  color: rgb(0, 119, 0);
  font-size: 85%;
}

.ssc_html .c {
  color: rgb(0, 119, 0);
  font-size: 85%;
}

.ssc_html .r {
  color: #000080;
  font-size: 85%;
}

.ssc_html .g {
  color: rgb(0, 119, 0);
  font-size: 85%;
}

/* .ssc_html .t {} */

.ssc_html .val {
  color: #408080;
  font-style: italic;
  font-size: 85%;
}

/* .ssc_html .v {} */

/* .ssc_html .f {} */

.ssc_html .num {
  color: rgb(102, 102, 102);
}


.gramframe {
  border: solid 1px black;
}

.priklady {
  border: solid 1px var(--priklady-bg);
  border-left: solid 20px var(--priklady-bg);
  background: var(--boxy-bg);
}

.equiv {
  border: solid 1px var(--equiv);
  border-left: solid 20px var(--equiv);
  border-radius: 10px;
  background: var(--boxy-bg);
}

div.rellinkset {
  margin-bottom: 4px;
}

.deklin-label input {
  background-color: transparent !important;
  color: var(--popisky);
  opacity: 100 !important;
  border: none;
  font-size: 12px;
  font-weight: normal;
}

.deklin-tag input {
  color: grey !important;
  opacity: 50 !important;
  border-right: 5px solid transparent;
  border-bottom: 1px dotted;
  font-size: 10px;
  background-color: transparent;
}

/*.droppable { background: #08c; color: #fff; padding: 30px 0; text-align: center; }*/
/* .droppable {} */

.droppable.dragover {
  background: black;
  border: medium dashed green;
}

video.czj {
  border-left: solid 4px #19B5FE;
}

video.asl {
  border-left: solid 4px darkorange;
}

video.is {
  border-left: solid 4px darkslateblue
}

video.spj {
  border-left: solid 4px mediumseagreen
}

video.ogs {
  border-left: solid 4px darkred
}

video.uzm {
  border-left: solid 4px lightblue;
}

.redtext {
  color: red;
  font-style: italic;
}

.text-cs {
  border-left: solid 10px darkmagenta;
  font-weight: bold;
}

.text-en {
  border-left: solid 10px black;
  font-weight: bold;
}

.text-sj {
  border-left: solid 10px crimson;
  font-weight: bold;
}

.text-de {
  border-left: solid 10px darkgoldenrod;
  font-weight: bold;
}

.text-uk {
  border-left: solid 10px yellow;
  font-weight: bold;
}

#topeditor {
  position: relative;
}

/* #topdiv {} */

#comments {
  display:none;
  border: solid red;
  width: 250px;
  height: 1800px;
  position: absolute;
  right: 0;
  top: 100px;
}

.comment-box {
  height: fit-content;
  color: yellow;
  background-color: darkred;
  padding-left: 5px;
  border-radius: 10px;
}

.comment {
  border: solid 1px darkred;
  border-radius: 10px;
  padding: 5px;
}
