.btn, a.btn {
/* background-color: darkslateblue */
  }
  
  .formaltop {
    border-left: 20px solid darkslateblue;
  }
  
  .x-panel-header-default {
    color: darkslateblue;
  }
  
  .col-label {
    border-top: solid 5px darkslateblue;
    border-bottom: solid 5px darkslateblue;
    font-weight: bold;
  }
  