.btn, a.btn {
/*    background-color: darkred; */
  }
  
  .formaltop {
    border-left: 20px solid darkred;
  }
  
  .x-panel-header-default {
    color: darkred;
  }
  
  .col-label {
    border-top: solid 5px darkred;
    border-bottom: solid 5px darkred;
    font-weight: bold;
  }
