.btn, a.btn {
  /* background-color: mediumseagreen;*/
}

.formaltop {
  border-left: 20px solid mediumseagreen;
}

.x-panel-header-default {
  color: mediumseagreen;
}

.col-label {
  border-top: solid 5px mediumseagreen;
  border-bottom: solid 5px mediumseagreen;
  font-weight: bold;
}
