.btn, a.btn {
/*  background-color: lightblue; */
}

.formaltop {
  border-left: 20px solid lightblue;
}

.x-panel-header-default {
  color: lightblue;
}

.col-label {
  border-top: solid 5px lightblue;
  border-bottom: solid 5px lightblue;
  font-weight: bold;
}
