@media (prefers-color-scheme: dark) {
    html {
        -webkit-filter: invert(100%);
    }
}

body {background: whitesmoke}

/* cached */
#swe-body {
    font: 11px Tahoma;
    height: 100%;
}

#swe-body {
    float: left;
}

#swe-paper {
    width: 215px;
    border: 1px solid #ccc;
    background-color: #eee;
    height: 500px;
    float: left;
    overflow: scroll;
    padding-bottom: 300px;
}

.swe-sign-on-paper {
    background-color: #fff !important;
    width: 200px;
    height: 200px;
    position: relative !important;
    border-bottom: 1px solid #ccc;
    margin: 0 !important;
    padding: 0 !important;
    cursor: pointer;
}

#swe-manip {
    width: 240px;
    height: 500px;
    float: left;
    position: relative;
    top: 10px;
}

#swe-buttons {
    margin: 0 0 20px 20px;
    width: 207px;
    height: 200px;
}

#swe-buttons a {
    cursor: pointer;
    border: 1px solid #ccc;
    margin: 0 7px 5px 0;
    background-repeat: no-repeat;
    background-position: center center;
    width: 60px;
    height: 60px;
    float: left;
}

#swe-buttons a:hover {
    background-color: #f5f5f5;
}

#swe-info {
    display: none;
    margin: 5px 20px 5px 20px;
    height: 15px;
    border: 1px solid #ccc;
    padding: 3px;
    cursor: pointer;
}

#swe-info:hover {
    background-color: #eee;
}

#swe-sign-view {
    margin: 10px 20px 20px 20px;
    border: 1px solid #ccc;
    background-color: #eee;
    width: 200px;
    height: 200px;
    cursor: pointer;
    position: relative;
    background-image: url('/editor/img/swbg.png');
}

.swe-sign-view-selected {
    background-color: #f9f9f9 !important;
}

#swe-sign-view:hover {
    background-color: #f5f5f5;
}

.swe-sign-in-move {
    width: 200px;
    height: 200px;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
    z-index: 2100;
    background-color: #ccf !important;
    border: 1px solid #aac !important;
    cursor: pointer !important;
    position: absolute !important;
}

#swe-editor {
    width: 460px;
    float: left;
    height: 595px;
    overflow-y: auto;
    margin-top: 10px;
}

.swe-signs-search-results {
    height: 500px;
    width: 500px;
    overflow: auto;
    border: 1px solid #ccc;
    padding: 10px;
}

.swe-signs-search-results p {
    display: block;
    margin: 0;
    padding: 0;
}

.swe-signs-search-results p:after {
    content: "";
    clear: both;
    display: block;
}

.swe-signs-search-results div {
    display: block;
    float: left;
    background-color: #f7f7f7;
    width: 200px;
    float: left;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0 5px 5px 0;
    border: 1px solid #ccc;
    position: relative;
    cursor: pointer;
}

.swe-signs-search-results h4 {
    padding: 0px;
    margin: 0 0 4px 0;
}

.swe-signs-search-results p p {
    display: block;
    float: right;
    width: 270px;
}

.swe-sign-with-id {
    background-color: #ffd !important;
}

.swe-symbol-group {
    border: 1px solid #ccc;
    border-width: 1px;
    padding: 10px;
    /*position: absolute; */
    left: 244px;
    top: 66px;
}

#swe-editor a {
    width: 50px;
    height: 50px;
    float: left;
    border: 1px solid #ccc;
    background-repeat: no-repeat;
    background-color: #f5f5f5;
    background-position: center center;
    margin: 0 5px 5px 0;
    cursor: pointer;
}

#swe-editor span {
    padding: none;
    margin: 0 5px 5px 0;
    border: 1px solid #eee;
    width: 50px;
    height: 50px;
    display: block !important;
    float: left !important;
}

.swe-symbol,
.swe-symbol-not-move {
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-position: top left;
    cursor: pointer !important;
    position: absolute !important;
    display: block;
    border: 1px solid transparent;
}

.swe-symbol:hover,
.swe-symbol-dragged {
    background-color: #fff;
    border: 1px solid #aaa;
    z-index: 2100;
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    opacity: 0.8;
}

.swe-symbol-selected {
    background-color: #eef !important;
    border: 1px solid #aac;
}

.swe-symbol-on-paper-selected {
    background-color: #eef !important;
}

.swe-sign-in-drag {
    filter: alpha(opacity=50);
    -moz-opacity: 0.6;
    opacity: 0.6;
    z-index: 2100;
    background-color: #ccf;
    border: 1px solid #aac;
    cursor: pointer !important;
}

.swe-sign-selected,
.swe-sign-to-delete {
    background-color: #fcc !important;
    border-width: 1px !important;
    border-color: #DAA !important;
    border-style: dashed !important;
    -moz-opacity: 0.7;
    opacity: 0.7;
    filter: alpha(opacity=70);
}

#swe-editor a:hover {
    background-color: #fff;
}

.swe-backButton {
    width: 20px !important;
    background-image: url("./swplugin/buttons/backbutton.png");
    background-repeat: no-repeat;
    background-position: center center;
}

#swe-search-by-name {
    display: block;
    float: left;
    padding: none;
    margin: none;
}

#swe-search-value {
    width: 190px;
    border: 1px solid #333;
    height: 14px;
    padding: 2px;
    background: url(./swplugin/buttons/search.png) right top no-repeat;
}

#swe-search-button {
    border: 1px solid #333 !important;
    border-left: none !important;
    margin: 0 0 0 0;
    border: none;
    width: 20px;
    height: 20px;
}

.swe-sign {
    border: 1px solid #999;
    width: 200px !important;
    height: 200px !important;
    position: relative;
}

.swe-sign * {
    background-color: inherit !important;
    cursor: default !important;
    border-color: transparent !important;
}

.jqifade {
    position: absolute;
    background-color: #aaa;
}

div.jqi {
    font: 11px Tahoma;
    width: 400px;
    position: absolute;
    background-color: #fff;
    font-size: 11px;
    text-align: left;
    border: solid 1px #eee;
    padding: 7px;
}

div.jqi .jqicontainer {}

div.jqi .jqiitem {
    display: block;
    text-align: right;
    font-style: italic;
    margin: 10px 0 0 0;
}

div.jqi .jqiclose {
    position: absolute;
    top: 4px;
    right: -2px;
    width: 18px;
    cursor: default;
    color: #fff;
}

div.jqi .jqimessage {
    padding: 10px;
    line-height: 20px;
    color: #444;
    border: solid 1px #eeeeee;
    background-color: #f4f4f4;
}

div.jqi .jqibuttons {
    text-align: right;
    padding: 5px 0 5px 0;
}

div.jqi button {
    padding: 3px 10px;
    margin: 0 0 0 10px;
    background-color: #2F6073;
    border: solid 1px #f4f4f4;
    color: #fff;
    font-size: 12px;
}

div.jqi button:hover {
    background-color: #728A8C;
}

div.jqi button.jqidefaultbutton {
    background-color: #BF5E26;
}

.jqiwarning .jqi .jqibuttons {
    background-color: #BF5E26;
}